<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyPhotosWcf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyPhotosWcf" contract="IMyPhotosWcf" name="BasicHttpBinding_IMyPhotosWcf" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>