@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Stefan Alexandru-Ioan - Marti 12 - Proiect 3</h1>
        <h3>Buna ziua! Ma numesc Stefan Alexandru-Ioan, din grupa  III A7, fac laboratorul de .NET Marti de la ora 12.</h3>
        <h3>Codul poate fi gasit la link-ul: https://github.com/alexandrustf/Proiect2DotNet</h3>

    </div>
